<!DOCTYPE html>
<html lang="es">

<head th:replace="~{/00Plantilla/plantilla :: head}"></head>

<body>

	<head th:replace="~{/00Plantilla/plantilla :: nav}"></head>


	<div class="container">

		<h1>Talleres y Actividades</h1>


		<div class="d-flex justify-content-between">

			<a th:href="@{/Reprorte-talleres/create}" class="btn btn-primary"> Nuevo</a>

			<button class="btn btn-info  " onclick="imprimirTabla()">Imprimir</button>
		</div>

		<table id="Tabla" class="table table-striped ">
			<thead class=" sticky-top">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">NombreAlumno</th>
					<th scope="col">Taller</th>
					<th scope="col">Semestre</th>
					<th colspan="2" scope="col" class="text-center">Accion</th>


				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="producto:${productos}">
					<td scope="row" th:text="${producto.id}"></td>
					<td th:text="${producto.nombre}"></td>
					<td th:text="${producto.descripcion}"></td>
					<td th:text="${producto.precio}"></td>

					<td class="text-center">
						<a th:href="@{/Reprorte-talleres/edit/{id}  (id=${producto.id})   }" class="btn btn-warning">
							Editar</a>
					</td>
					<td  class="text-center">
						<a th:href="@{/Reprorte-talleres/delete/{id}  (id=${producto.id})   }" class="btn btn-danger">
							Eliminar</a>
					</td>

				</tr>
			</tbody>
		</table>

	</div>

	<script th:replace="~{/00Plantilla/plantilla :: sct}"></script>
</body>

</html>